<div *ngIf="historique.length >0 ;else historiqueVide"> 
    <p>Historique des tâches :</p>
    <div>
        <input type="radio" id="tache"  value="tache" checked>
        <label for="tache"></label>
      </div>
</div>
<ng-template #historiqueVide>
<p>Votre historique est vide 😬</p>
<button>Créer une tâche</button>
</ng-template>