<hr>
<section class="step flex column">
    <!--
    autre methode url 
    <a
      routerLink="list-taches"
      [ngClass]="{
        'bg-green': this.url === '/' || this.url === '/list-taches'
      }"
      ><img src="../../../assets/img/listTache.png" alt=""
    /></a>
-->
<a routerLinkActive="green" routerLink="/home" class="step step-circle ">
  <img src="assets/image/list.png"></a>
<a routerLinkActive="yellow" routerLink="/ajouter" class="step step-circle "> 
  <img src="assets/image/add.png">
</a>
<a routerLinkActive="violet" routerLink="/historique" class="step step-circle  ">
  <img src="assets/image/alarm.png"></a>
</section>