hr{
    color:white;
}
section {
    justify-content: space-around;
    flex-direction: row;
    gap: 5px;
    margin: 5px 0px 100px;
    box-sizing: border-box;
    

}

.menu {
    padding:0;
    padding-top: 17px;
    margin-left: 71px;
    margin-right: 71px;
}
.menu li{
    padding: 8px 12px ;
    border-radius: 50%;
    background-color: var(--color-blue) ;
}

.step-circle {
    font-size: 13px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px;
    margin: 15px;
    justify-content: center;
    
}
.bleu{
 background-color: var(--color-blue);
}
.green{
background-color: var(--color-green);
}
.yellow{
background-color: var(--color-yellow);
}
.violet{
background-color: var(--color-violet);
}