label,
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    background: transparent;
    color: white;
    opacity: 0.3;
}
p{
    color:white;
    margin: 5px 0 5px;
}
p.icon{
    position: absolute;
    right: 16px;
    top: 6px;
}
label {
    color: white;
    display: block;
    margin-bottom: 10px;
}
div{
    justify-content: flex-start;
}
a{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-blue);
}
section{
    margin-left: 26px;
}
.categorie{
    justify-content: space-around;
}
