<section>
<p>Sélectionnez votre catégorie* :</p>
<div class="categorie flex">
  <a *ngFor="let categorie of categories" (click)="categorieChecked(name,checked)"[ngStyle]="{background: categorie.checked === false ? 'bleu' : 'yellow'}" >
    <p class="icon">{{categorie.icon}}</p></a>
</div>
<label>Quelle tâche avez vous à effectuer* ?</label> 
<input
#newItem
placeholder="Exemple : Faire les courses"
(keyup.enter)="AddTodo(); newItem.value = ''"
class="lg-text-input"
id="addItemInput" />

<button class="btn-primary" (click)="AddTodo()">Valider ma tâche</button>
<form >
  <div class="flex">
    <input  type="checkbox" formControlName="urgent" value="urgent" />
    <label class="form-check-label" for="urgent">La tâche est urgente ⚠️</label>
  </div>
</form> 
<!-- <textarea
      [(ngModel)]="mytextarea" cols="30"rows="7" placeholder="Exemple : Faire les courses"
      (input)="getContent(mytextarea)">
</textarea>
 

<button  routerLink="/home" type="submit" >Valider ma tâche</button>
</section>-->