<div class="flex">
 <ng-template #homeVide>
<p>Aucune tâche pour le moment 🙌</p>
<button  routerLink="/ajouter">Créer une tâche</button>
</ng-template>
</div>
<div *ngIf="home.length >0 ;else homeVide"> 
<p>⚠️ Tâche urgentes </p>
<p>🌸 Autres les tâches</p>
</div>