p{
    color:white;
    padding-bottom: 45px;
    padding-top: 207px;
}
button{
    
    margin-left: 78px;
    margin-bottom: 273px;
}

div{
align-items: baseline;
flex-direction: column;}