
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /*variables*/
    --color-bleu-black: #040722;
    --color-violet: #E475F1;
    --color-blue: #1D2038;
    --color-yellow: #F3D24F;
    --color-light-bleu: #64A7D9;
    --color-green: #88E7A1;
}
body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--color-bleu-black);
    font-family:'Quicksand', sans-serif;
    overflow-y: scroll ;
    scrollbar-color: var(--color-yellow);
    
}
/* ::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f3d24f;
  } */
router-outlet{
    flex:1;
}
app-header{
    height: 70px;
}
app-footer{
    height: 100px;
}
.flex {
    /* clesse globale pour metrre en flex, à ajouter dans le html*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
}
button{
    color: white;
    border-radius: 30px;
    width: 248px;
    height: 48px;
    border: none;
    background:var(--color-light-bleu);

}
